tbody td.attribute {
    background-color:#85e0e0;   
    width: 1.5em;
    }

    tbody td {
        text-align: center;
    }

    .grey {
        color: lightgrey;
    }

table.numbers{
    font-size:0.9em;
    margin-bottom:10px;
}

table.numbers td {
    padding: 0 7px;
}

h5 {
    margin-bottom: 10px;
}